<footer>
    <div class="content p-d-flex p-jc-between p-ai-center p-shadow-2">
        <div class="p-d-flex">
            <div class="footer-text p-mx-6  p-d-none p-d-md-inline-flex center position1">
                <p class="size">
                    <b>
                        © 2021. 
                    </b>
                </p>
                <div (click)="goTo('avisolegal')" class="size-l legal">
                    Aviso Legal 
                </div>
                <p class="size-l"><b>
                    y
                </b></p>
                <div (click)="goTo('politicaprivacidad')" class="size-l legal">
                    Politica de Privacidad 
                </div>
            </div>
            <div class="icons">
                <a href="http://www.facebook.com" target="_blank"><i class="pi pi-facebook" style="font-size: 1rem"></i></a>
                <a href="http://www.twitter.com" target="_blank"><i class="pi pi-twitter left" style="font-size: 1rem"></i></a>
                <a href="http://www.youtube.com" target="_blank"><i class="pi pi-youtube left" style="font-size: 1rem"></i></a>
                <a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin fa-lg left bottom" aria-hidden="true"></i> </a>           
                <a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram  fa-lg left bottom"></i></a>
            </div>
        </div>
        <div class="logo p-d-flex">
            <div class="text-logo">
            </div>
            <div>
                <!-- <img class="left" routerLink="/"  class="pointer" src="../../../assets/Images/Alejo4.png" alt=""> -->
            </div>
        </div>
    </div>
</footer>