<div class="all">
    <div class="top">
        <!-- Principal Imagen e iconos -->
        <div>
            <div class="principal">
                <div class="text">
                    <p class="X">
                        <b>María Alejo</b>
                    </p>
                    <p class="A">
                        <b>María Alejo Hernandez</b>
                    </p>
                    <p class="G">
                        Psicologa Clínica
                    </p>
                    <p class="C">
                        El interés por los procesos de cambio y superación en las personas ha marcado siempre mi vida, tanto la personal como la profesional.
                    </p>
                    <p class="D">
                        A lo largo de más de 25 años de experiencia en el ámbito de la psicoterapia, el coaching y la formación en el ámbito empresarial he tenido la oportunidad de acompañar a numerosos hombres y mujeres en su evolución personal y profesional, constatando que no hay retos inalcanzables cuando existe motivación y estrategia. Mi objetivo siempre ha sido que identificasen que la Inteligencia Emocional es clave para desarrollar un liderazgo efectivo en uno mismo y en las organizaciones en las que se trabaja.
                    </p>
                </div>
              
                <div class="image">
                    <img src="../../../assets/Images/psicologa_demo.jpg" alt="">
                </div>
            </div>
    
            <!-- Div con el CV resumido -->
            <div  data-aos="fade-down">
                <!-- <div>
                    Mi CV Resumido
                </div> -->
                <div class="flex">
                    <div>
                        <img class="icons" src="../../../assets/Images/education.svg" alt="">
                        <div>
                            <p>
                                Graduada en Psicología por la <b>UCM</b>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img class="icons" src="../../../assets/Images/psychology.svg" alt="">
                        <div>
                            <p>
                                Especialista en <b>Psicología Clínica.</b>
                            </p>
                            <p class="m-t">
                                Master en <b>Psicología General Sanitaria (MPGS)</b>
                            </p>
                        </div>
                        
                    </div>
                    <div>
                        <img class="icons" src="../../../assets/Images/mental-health.svg" alt="">
                        <div>
                            <p>
                                Psicologa especialista en <b>Neuropsicología</b>
                            </p>
                            <p class="m-t">
                                Master en Neuropsicología por la <b>UCM</b>
                            </p>
                        </div>
                       
                    </div>
                    <div>
                        <img class="icons" src="../../../assets/Images/psychologist.svg" alt="">
                        <div>
                            <p>
                                Psicologa titular en el Instituto Internacional 
                            </p>
                            <p class="m-t">
                                <b>Psicóloga clínica</b> particular
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Textos de formación y experiencia -->
        <div class="container"  data-aos="fade-down">
            <p-tabView>
                <p-tabPanel header="Formación">
                    <div>
                        <div>
                            <img class="in_panel" src="../../../assets/Images/biblio.jpeg" alt="">
                        </div>
                        <p>
                            Mi carrera profesional está orientada desde el inicio hacia la <b>psicología clínica y la psicoterapia</b>, realizando de forma amplia y especializada diversos estudios relacionados con psicoterapia, psicopatología, psicología forense, neuropsicología y psicogeriatría.
                        </p>
                        <p>
                            He participado y colaborado en <b>proyectos y actividades</b> propuestos por diferentes instituciones como la Universidad del País Vasco, Universidad de San Pablo-CEU y la Universidad de las Islas Baleares; Colegio Oficial de Psicólogos de Madrid y del País Vasco; Osakidetza y Hospital Guadarrama; Fundación OMIE, Fundación Izan-Proyecto Hombre, CRE Alzheimer e IMSERSO; Instituto de Psicoterapia Relacional, Asociación Española de Neuropsiquiatría y Nirakara Institute; entre otras entidades.
                        </p>
                        <p>
                            Actualmente, prosigo de forma continua con mis estudios en la Especialidad de Psicoterapia Psicoanalítica Relacional y en el Master en Psicoterapia Relacional (formación reconocida por el Instituto de Psicoterapia Relacional (IPR), la Asociación para el estudio Sistémico de la Familia y otros Sistemas Humanos (AESFASHU), la Sección Española de la Asociación Internacional para la Psicoterapia y el Psicoanálisis Relacional (IARPP), la Federación Española de Asociaciones de Psicoterapeutas (FEAP) y otras entidades de prestigio a nivel nacional e internacional) así como en otras formaciones complementarias.
                        </p>
                    </div>
                    
                </p-tabPanel>
                <p-tabPanel header="Experiencia">
                    <div>
                        <div>
                            <img class="in_panel" src="../../../assets/Images/psico_init.jpeg" alt="">
                        </div>
                        <p>
                            Mi labor como <b>psicólogo-psicoterapeuta</b> se focalizó, en un primer momento, en la rehabilitación integral de personas con drogodependencias de diverso perfil y motivación, entre ellas, personas en cumplimiento extrapenitenciario, atendiendo y acompañando a los usuarios, tanto en fase de acogida como en comunidad terapéutica, en la Fundación Izan – Proyecto Hombre (San Sebastián-País Vasco).
                        </p>
                        <p>
                            Posteriormente, tras dos años de preparación de la oposición P.I.R. (Psicólogo Interno Residente), decidí embarcarme en otro proyecto distinto aunque complementario, ocupándome de la dirección y coordinación del centro geriátrico “Residencia Guadarrama” y siendo la responsable del área de psicología, atendiendo a adultos mayores con pluripatologías. Así mismo, he ido compaginando esta actividad con la práctica privada, atendiendo a adultos y adolescentes en diferentes gabinetes, tanto de forma presencial como online.
                        </p>
                        <p>
                            Actualmente, regento mi propia consulta situada en Collado Villalba estación. Un espacio personal construido con ilusión, amor, compromiso y en el que cada detalle cobra un sentido especial.
                        </p>
                        <p>
                            La consulta cuenta con una inmejorable ubicación y excelente accesibilidad. Dispone de rampa de acceso al edificio y ascensor en el interior. Así mismo, su posición está muy próxima a diferentes parking, si utilizas vehículo; o si se prefiere, dispones de medios de transporte, tanto estación de tren como diferentes líneas de autobús.
                        </p>
                        <p>
                            Se atienden las diversas necesidades y circunstancias de cada persona en un espacio compartido en el que se priorizan: la alianza y los vínculos; la profundización en el relato y las experiencias personales; y la comprensión empática hacia la historia y la subjetividad de cada persona.
                        </p>
                        <p>
                            Se procura que este proceso personal se construya estando en sintonía, colaborando y cooperando de forma conjunta, con el fin de permitir un reajuste e integración de diferentes aspectos de vital importancia para cada persona y el desarrollo de una gestión óptima de los recursos y herramientas personales.
                        </p>
                    </div>
                  
                </p-tabPanel>
                <!-- <p-tabPanel header="Especialidades">
                    <div>
                        <div>
                            <img class="in_panel" src="../../../assets/Images/biblio.jpeg" alt="">
                        </div>
                        <ul>
                            <li>Trastornos de ansiedad.</li>
                            <li>Depresión.</li>
                            <li>Duelos.</li>
                            <li>Bloqueo profesional o relacionado con otras actividades.</li>
                            <li>Perturbaciones del sueño.</li>
                            <li>Enfermedades recurrentes o crónicas sin explicación médica.</li>
                            <li>Trastornos del comportamiento alimentario.</li>
                            <li>Conflictos relacionales.</li>
                            <li>Conflictos de pareja.</li>
                            <li>Conflictos con respecto a la educación y crianza de los hijos.</li>
                            <li>Desarrollo y crecimiento personal</li>
                        </ul>
                    </div>
                  
                </p-tabPanel> -->
            </p-tabView>
        </div>

        <app-contacto style="margin-top: -100px;" [child]="true"></app-contacto>

    </div>
   
</div>