<div class="all">
    <div class="container">
        <p class="title">Aviso Legal</p>
        <p>
            Los siguientes Términos y Condiciones (con información y políticas mostradas en las páginas de “Atención al Cliente ” de este sitio web a las que se puede acceder directamente mediante el enlace facilitado y que mediante la presente declaras haber leído y aceptar y quedan incorporadas a los presentes Términos y Condiciones, y otros documentos relacionados con estos términos y condiciones) establecen los términos legales que se aplican al uso que haces de nuestro sitio web [dominiocompany] y los demás servicios que ofrecemos en dicho Sitio Web.
        
        </p>
        
        <p>
            Por favor, lee estos Términos y Condiciones cuidadosamente y asegúrate de comprenderlos antes de usar los Servicios.
        </p>
        
        <p>
             
            Condiciones generales de uso del portal de María Alejo Hernandez con NIF/CIF
            72074754E (en adelante LA EMPRESA) le informa que el acceso y uso de la página web www.mariaalejopsicologia.com y todos los subdominios y directorios incluidos bajo la misma, así como los servicios o contenidos que a través de él se puedan obtener y todos los portales de dominio propio bajo titularidad de LA EMPRESA, están sujetos a los términos que se detallan en este Aviso Legal, sin perjuicio de que el acceso a alguno de dichos servicios o contenidos pudieran precisar de la aceptación de unas Condiciones Generales particulares adicionales.
            Por ello, si las consideraciones detalladas en este Aviso Legal no son de su conformidad, rogamos no haga uso del Portal, ya que cualquier uso que haga del mismo o de los servicios y contenidos en él incluidos implicará la aceptación de los términos legales recogidos en este texto.
            LA EMPRESA se reserva el derecho a realizar cambios en el Portal www.mariaalejopsicologia.com y en todos los portales web del que es titular sin previo aviso, con el objeto de actualizar, corregir, modificar, añadir o eliminar los contenidos del Portal o de su diseño. Los contenidos y servicios que ofrecen los Portales se actualizan periódicamente. Debido a que la actualización de la información no es inmediata, le sugerimos que compruebe siempre la vigencia y exactitud de la información, servicios y contenidos recogidos en los mismos.
            Las condiciones y términos que se recogen en el presente Aviso Legal pueden variar, por lo que le invitamos a que revise estos términos cuando visite de nuevo el Portal.
            Derechos de propiedad intelectual y de propiedad industrial
            Tanto el diseño del Portal de LA EMPRESA y de los portales web de su titularidad y sus códigos fuente, como los logos, marcas, y demás signos distintivos que aparecen en el mismo, pertenecen a LA EMPRESA y están protegidos por los correspondientes derechos de propiedad intelectual e industrial. Igualmente están protegidos por los correspondientes derechos de propiedad intelectual e industrial las imágenes y demás contenidos incluidos en el servidor de LA EMPRESA.
            Su uso, reproducción, distribución, comunicación pública, transformación o cualquier otra actividad similar o análoga, queda totalmente prohibida salvo que medie expresa autorización de LA EMPRESA. La licencia de uso de cualquier contenido de este Portal otorgada al usuario se limita a la descarga por parte del usuario de dicho contenido y el uso privado del mismo, siempre que los citados contenidos permanezcan íntegros.
            LA EMPRESA declara su respeto a los derechos de propiedad intelectual e industrial de terceros; por ello, si considera que este sitio pudiera estar violando sus derechos, rogamos se ponga en contacto con LA EMPRESA.
            
        </p>
        
        <p class="subtitle">
            Privacidad
        </p>
        
        <p>
            De conformidad con el Reglamento General de Protección de Datos (en adelante, RGPD), publicado en mayo de 2016, LA EMPRESA, se compromete al cumplimiento de su obligación de secreto con respecto a los datos de carácter personal y al deber de tratarlos con confidencialidad. A estos efectos, adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado. La recogida y tratamiento automatizado de los datos personales tiene como finalidad la gestión, prestación, ampliación y mejora de los servicios solicitados en cada momento por el usuario y el seguimiento de consultas planteadas por los usuarios.
            Usted tendrá la posibilidad de ejercer los derechos de acceso, rectificación, cancelación, portabilidad, limitación y oposición de sus datos personales, solicitándolo por correo certificado.
            LA EMPRESA mantiene los niveles de protección de sus datos personales conforme al RGPD, relativo a las medidas de seguridad de los ficheros automatizados que contengan datos de carácter personal, y ha establecido todos los medios técnicos a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos que Vd. facilite a LA EMPRESA, sin perjuicio de que las medidas de seguridad en Internet no sean inexpugnables.
            LA EMPRESA se reserva la facultad de modificar la presente Política de Privacidad para adaptarla a las novedades legislativas, jurisprudenciales o de interpretación de la Agencia Española de Protección de Datos. En este caso, LA EMPRESA anunciará dichos cambios, indicando claramente y con la debida antelación las modificaciones efectuadas, y solicitando, en caso de que sea necesario, su aceptación de dichos cambios.
        </p>
        <p class="subtitle">
            Ley aplicable y jurisdicción
        </p>
        <p>
            La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este Aviso Legal, así como cualquier cuestión relacionada con los servicios del presente Portal, será la ley española. Para la resolución de cualquier conflicto que pueda surgir con ocasión de la visita al Portal o del uso de los servicios que en él se puedan ofertar, LA EMPRESA y el Usuario acuerdan someterse a los Jueces y Tribunales de domicilio del Usuario, siempre que el mismo esté situado en territorio español.
            Frames
            LA EMPRESA prohíbe expresamente la realización de «frammings» o la utilización por parte de terceros de cualesquiera otros mecanismos que alteren el diseño, configuración original o contenidos de su portal o portales bajo su titularidad.
        </p>
        
        <p>
              
            Medidas de protección ante uso abusivo o robotizado
            LA EMPRESA se reserva el derecho a realizar cambios técnicos en el Portal www.mariaalejopsicologia.com y en todos los portales web del que es titular sin previo aviso, con el objeto de preservar la disponibilidad del mismo ante eventuales usos abusivos manuales o robotizados de acceso al mismo.
        </p>
        
    </div>
    
</div>
