<div class="main padding-top">
    <div class="center">
        <table>
            <tr>
                <p>
                    MARIA ALEJO
                </p>
            </tr>
            <tr>
                <p>
                    PSICOLOGA
                </p>
            </tr>
        </table>
    </div>

    <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas exercitationem accusamus a atque veniam vero officia omnis aliquam maxime eum facilis mollitia aliquid explicabo, quisquam, necessitatibus ea. Voluptates, minus assumenda!
    </div>
</div>

