
$bg-color: rgb(207,198,182);
$link-text-color: rgb(52,46,35);
$button-bg-1: rgb(213,227,222);
$border-radius: 6px;
$overlay-color: rgb(52,46,35);


* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.padding-top{
    padding-top: 660px;
}



.main{
    background: url('../../../assets/Images/home4.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
    background-color: rgb(247,246,244);
    // padding-top: 400px;
    position: relative;
    border-style: solid none none none;
    border-width: 1px;
    border-color: rgb(52,46,35);
    .help{
        color:rgb(29,119,29)
    }
}

.center{
    .title{
        position: fixed;
        top: 200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        .h1{
            font-size: 50px;
            color: rgb(64,56,43)
        }
        .h2{
            font-size: 50px;
            color: rgb(196,186,167);
            margin-left: 8px;
        }
    }
}

.cv{
    position: fixed;
    top: 323px;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(rgb(76,67,50), 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: rgb(76,67,50);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.btn {
    color: rgb(76,67,50);
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    @media(min-width: 600px) {
      margin: 0 1em 2em;
    }
    
    &:hover { text-decoration: none; }

}

.button{
    position: fixed;
    top: 340px;
}

.line{
background: rgb(87,77,58);
height: 3px;
width: 150px;
position: fixed;
top: 335px;
}
.left{
    margin-right: 210px;
}
.right{
    margin-left:210px;
}


.paragraph{
    margin-left: 20%;
    margin-right: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 23px;
}

.t{
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(217,210,198);
}

.full-width{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.child, .young, .adult{
    width: 400px;
    margin: 10px;
    height: 450px;
    position: relative;
    .conttext{
        background-color: rgb(196,186,167, 0.7) !important;
        margin-top: 10px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-style: solid none none none;
    }
}

.t2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(52,46,35);
    font-size: 20px;
}

.child{
    background: url('../../../assets/Images/niño.jpeg') no-repeat center;
    background-size: cover;
}

.young{
    background: url('../../../assets/Images/adolescentes.jpeg') no-repeat center;
    background-size: cover;
}

.adult{
    background: url('../../../assets/Images/adultos.jpeg') no-repeat center;
    background-size: cover;
}

.button-effect {
    padding: 20px 0px; 
    display: flex;
    justify-content: center;
    
    h2 {
      font: {
        family: 'Droid Serif', serif;
        size: 20px;
      }
      margin-bottom: 40px;
    }
    
    a {
      margin-right: 17px;
      
      &:nth-child(2) {
        background-color: $button-bg-1;
      }
    }
}



/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */

.effect {
text-align: center;
display: inline-block;
position: relative;
text-decoration: none;
color: $link-text-color;
text-transform: capitalize;
font: {
  family: 'Roboto', sans-serif; /* put your font-family */
  size: 18px;
}
padding: 10px 0px;
width: 150px;
border-radius: 1px;
overflow: hidden;
}

/* effect-1 styles */

.effect.effect-1 {
transition: all 0.2s linear 0s;
background-color: $bg-color;
border-style: solid;
border-width: 3px;
border-color: rgb(52,46,35);
&:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}

&:hover {
  text-indent: -20px;
  
  &:before {
    opacity: 1;
    text-indent: 0px;
  }
}

}