<div class="main padding-top">
    <div class="center">
        <div class="cv">
            <canvas height="30" width="50" id="canvas"></canvas>
        </div>
        <div class="line left">
            &nbsp;
        </div>
        <div class="line right">
            &nbsp;
        </div>
        <div class="title">
            <p class="h1">
                Maria Alejo.
            </p>
            <p class="h2">
                Psicologa Clínica
            </p>
        </div>
        <div class="button">
            <div class="container">
                <a routerLink="sobremi" class="btn btn-2">CONOCEME</a> 
            </div>
        </div>
    </div>

    <div class="content">
        <!-- TROZO DE SOBRE MI -->
        <!-- <p class="t">
            Estoy aquí para ayudarte
        </p>
        <p class="paragraph">
           <b>Cualquier persona</b> puede tener relaciones que necesitan ser reorientadas, decisiones difíciles que tomar, hábitos que le gustaría cambiar o, simplemente, la sensación de que su vida está bloqueada.
        </p>
        <p class="paragraph">
            Invertir en tu proceso de crecimiento personal es <b>la mejor decisión que puedes tomar</b> en tu vida.
        </p> -->

        <!-- TROZO DE TERAPIAS -->

        <div class="full-width">
           <div class="child">
               <div class="conttext">
                    <p class="t2 center">
                        <b>
                            Terapia Niños
                        </b>
                    </p>
                    <p class="text"></p>
                    <div class="button-effect">
                        <a class="effect effect-1" href="#" title="Learn More">Leer Mas</a>
                    </div>      
               </div>
            </div>
           <div class="young">
                <div class="conttext">
                    <p class="t2 center">
                        <b>Terapia Adolescentes</b>
                   </p>
                   <p class="text"></p>
                   <div class="button-effect">
                       <a class="effect effect-1" href="#" title="Learn More">Leer Mas</a>
                   </div>    
                </div>
           </div>
           <div class="adult">
               <div class="conttext">
                <p class="t2 center">
                    <b>
                        Terapia Adultos
                    </b>
                </p>
                <p class="text"></p>
                <div class="button-effect">
                    <a class="effect effect-1" href="#" title="Learn More">Leer Mas</a>
                </div>    
               </div>
           </div>
        </div>
        <!-- TROZO DE TESTIMONIOS -->

        <!-- PAGINA DE CONTACTO -->
    </div>
</div>

