.padding-top{
    padding-top: 160px;
}


img{
    position: fixed;
}

.container{
    background-image: url('../../../assets/Images/home.jpeg');
    height: 200px;
    background-repeat: no-repeat;
}