<div class="main padding-top">
    <div class="center">
        <div class="cv">
            <canvas height="30" id="canvas"></canvas>
        </div>
        <div class="title">
            <p class="h1">
                Maria Alejo.
            </p>
            <p class="h2">
                Psicologa Clínica
            </p>
        </div>
        <div class="button">
            <div class="container">
                <a routerLink="contacto" class="btn btn-2">Contacta</a> 
            </div>
        </div>
    </div>

    <div class="content">
        <div class="cite">
            <p class="c1">
                "La curiosa paradoja es que cuando me acepto a mí mismo, puedo cambiar"
            </p>
           <p class="c2">
                Carl Rogers
           </p>
        </div>
    </div>
</div>

