/* You can add global styles to this file, and also import other style files */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

html,body {
    margin:0;
    padding:0;
}
.tittle{
    color: #574d3a;
    font-size: 40px;
}

.all{
    background-color: rgb(247,246,244);
}

